/* App.css */

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  background-color: #000000e6; /* Set the background color of the navbar */

  background-color: #000000e6; /* Set the background color of the Navbar */
  border: 1px solid white; /* Set the border color to white */
}

.navbar-brand,
.nav-link {
  color: white !important; /* Set the font color of navbar elements to white */
  font-weight: bold;
}

.navbar-brand:hover,
.nav-link:hover {
  color: #61dafb !important;
}

.content {
  padding: 20px;
}

/* Add your specific styles for each component (Register, Login, Home, Goals, Profile) */

/* Example for the home page */
.home {
  text-align: center;
  padding: 50px;
}

/* Example for forms (Register and Login) */
.form-container {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group button {
  background-color: #61dafb;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #4285f4;
}
